github "CocoaLumberjack/CocoaLumberjack" ~> 3.3.0
github "robbiehanson/CocoaAsyncSocket" ~> 7.6.2
github "Deadknight/KissXML" "master"
github "Deadknight/libidn-framework" "master"
github "facebook/SocketRocket"
